body {
    background-color: #f1f1e5;
}
hr{
    height: 1px;
    background-color: black;
    border: none;
}
@font-face {
    font-family: "Trocchi-Bold";
    src: url("../fonts/Trocchi-Bold.woff2") format("woff2"),
    url("../fonts/Trocchi-Bold.ttf") format("tff");
    font-weight: normal;
    font-style: normal;
  }
@font-face{
    font-family: "MunsonBold";
    src: url("../fonts/MunsonBold.woff2") format("woff2"),
    url("../fonts/MunsonBold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
         url('../fonts/merriweather-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
         url('../fonts/merriweather-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    src: local('Gothic A1 Bold'), local('GothicA1-Bold'),
         url('../fonts/gothic-a1-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/gothic-a1-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 900;
    src: local('Gothic A1 Black'), local('GothicA1-Black'),
         url('../fonts/gothic-a1-v8-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/gothic-a1-v8-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.ticket {
    width: 900px;
    height: 500px;
    background-color: #ce9750;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
}

.left-side {
    background-color: #4957d8;
    margin: 25px 5px 20px 30px;
}

.right-side {
    background-color: #ca6066;
    margin: 20px 20px 20px 20px;
    writing-mode: vertical-rl;
}
.right-words-one{
    border-style: solid;
    border-bottom-style: none;
    border-left: none;
    border-top: none;
    border-width: 1px;
}
.right-words-two{
    font-family: "MunsonBold";
    border-style: solid;
    border-bottom-style: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
}
.right-words-three{
    font-family: "MunsonBold";
    border-style: solid;
    border-bottom-style: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
}
.right-words-four{
    font-family: "Trocchi-Bold";
    border-style: solid;
    border-bottom-style: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
}

.right-words-five {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 900;
}

.left-words-one {
    border-style: solid;
    border-width: 1px;

}

.left-words-two {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
}

.left-words-three {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
}