body {
    background-color: #f1f1e5;
}
hr{
    height: 1px;
    background-color: black;
    border: none;
}
.ticket {
    width: 900px;
    height: 500px;
    background-color: #ce9750;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
}

.left-side {
    background-color: #4957d8;
    margin: 25px 5px 20px 30px;
}

.right-side {
    background-color: #ca6066;
    margin: 20px 20px 20px 20px;
    writing-mode: vertical-rl;
}

.left-words-one {
    border-style: solid;
    border-width: 1px;

}